<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button (click)='contactLink("mail")'>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-text>Email</ion-text>
    </ion-item>
    <ion-item button (click)='contactLink("phone")'>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-text>Call</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
