<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="listen-wrapper">
    <div class="listen-container">
      <!-- <div class="logo-wrapper">
        <div class="logo-container">
          <img  src="../../assets/logo.jpg" />
        </div>
      </div> -->
      <div class="body-container">
        <img src="../../assets/background-logo.png" />
      </div>
    </div>
  </div>
</ion-content>
<div class="audio-container">
  <p class="mat-error" *ngIf="notStreamingMessage">{{notStreamingMessage}}</p>
  <audio #audioElement controls [ngClass]="{'audio-active': !notStreamingMessage, 'audio-inactive': notStreamingMessage}" >
    <source [src]="streamUrl" type="audio/ogg"/>
  </audio>
</div>
